.cbox {
    position: absolute;
    width: 700px;
    top: 210px;
    background-color: white;
    padding: 0px;
    margin: auto;
    box-shadow: 0px -5px 10px black;
}

.barbox {
    outline: 2px solid green;
    margin-right: 10px;
}

.barboxtwo {
    outline: 1px solid grey;
    margin-right: 0px;
}

.sidebar {
    width: 25%;
    padding-left: 20px;
    float: left;
}

.go-text {
    position: absolute;
    left: 10px;
    top: 0px;
    text-decoration: underline;
}

.go-button {
    display: block;
    padding-bottom: 3px;
}

.appwindow {
    width: 465px;
    float: left;
    pointer-events: none;
}

.appWindowContent {
    pointer-events: all;
    padding-top: 28px;
    padding-left: 30px;
}

.barlinedashed {
    width: 95%;
    color: darkgreen;
    background-color: transparent;
    height: 1px;
    border-width: 0;
    border-top: dotted 1px;
}

.barline {
    width: 95%;
    color: darkgreen;
    background-color: darkgreen;
    height: 1px;
    border-width: 0;
}