.cbox {
    position: absolute;
    width: 900px;
    top: 110px;
    background-color: rgba(0,0,0,0);;
    padding: 0px;
    margin: auto;
    /* box-shadow: 0px -5px 10px black; */
}

.barbox {
    outline: 2px solid green;
    margin-right: 10px;
}

.barboxtwo {
    outline: 1px solid grey;
    margin-right: 0px;
}

.sidebar {
    width: 25%;
    padding-left: 20px;
    float: left;
}

.rightbar {
    width: 130px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 70px;
    float: left;
    text-align: center;
}

.rightbarlink {
    display: block;
    color: darkgoldenrod;
    margin-bottom: 17px;
}

.rbarbox {
    margin-bottom: 5px;
    outline: 2px solid green;
}

.rbarbox2 {
    margin-bottom: 5px;
    outline: 1px solid darkgoldenrod;
}

.go-text {
    position: absolute;
    left: 10px;
    top: 0px;
    text-decoration: underline;
}

.go-button {
    width: 240px;
    display: block;
    padding-bottom: 3px;
}

.appwindow {
    width: 465px;
    pointer-events: none;
}

.appWindowContent {
    position: relative;
    pointer-events: all;
    padding-top: 28px;
    padding-left: 2px;
    padding-right: 2px;
}

.barlinedashed {
    width: 95%;
    color: darkgreen;
    background-color: transparent;
    height: 1px;
    border-width: 0;
    border-top: dotted 1px;
}

.barline {
    width: 95%;
    color: darkgreen;
    background-color: darkgreen;
    height: 1px;
    border-width: 0;
}

.filebox {
    position: absolute;
    width: 457px;
    height: 20px;
    left: 4px;
    top: 30px;
    padding: 0px;
    margin: auto;
}

.fileboxlink {
    font-family: "ＭＳ Ｐゴシック";
    color: black;
    position: absolute;
    z-index: 5;
    text-decoration: none;
    margin: 0;
    padding-top: 0px;
    white-space: nowrap;
    height: 18px;
    padding-bottom: 2px;
}

.fileboxlink.top:hover {
    background-color: #c7dcff;
}

.fileboxlink:first-letter 
{
    text-decoration:underline;
}

.fileboxitem:hover {
    background-color: #c7dcff;
}

#zoomableImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#zoomableImage img:hover {
    cursor: zoom-in;
}

.bartext {
    font-family: 'glamourgirl';
    color: white;
    text-shadow: black 1px 0 10px;
}