html {background-color: white}

@font-face { font-family: basiic; src: url('./../assets/fnt/basiic.ttf'); } 
/* @font-face { font-family: RomanceA; src: url('./../assets/fnt/RomanceA.ttf'); } */
@font-face { font-family: Bangalore; src: url('./../assets/fnt/Bangalore.ttf'); } 
@font-face { font-family: glamourgirl; src: url('./../assets/fnt/GLAMOURGIRL.TTF'); } 
@font-face { font-family: ibm_vga; src: url('./../assets/fnt/Px437_IBM_VGA_8x14.ttf'); }
@font-face { font-family: DOS; src: url('./../assets/fnt/Px437_DOS-V_re_ANK24.ttf'); }

body {
  font-family: basiic, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing : none;
}
p {
  font-family: basiic, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing : none;
}

.p-old {
  font-family: "ＭＳ Ｐゴシック", basiic, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing : none;
}

.p-dos {
  font-family: DOS, basiic, sans-serif;
  font-smooth: never;
  -webkit-font-smoothing : none;
}


.box {
    position: relative;
    width: 900px;
    /* border: 1px solid black; */
    margin: left;
    padding-left: 5px;
    /* padding-top: 10px; */
    margin-bottom: 100px;
}

.box-header {
    display: block;
    width: 100%;
    /* border-radius: 15px;
    border: 7px solid orange; */
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
    z-index: 1;
}

.petur {
    position: absolute;
    width: 26%;
    top: 100px;
    right: 130px;
    z-index: 17;
    image-rendering: pixelated;
    pointer-events: none;
}

.dragon {
    position: absolute;
    top: 150px;
    right: 0px;
    z-index: 2;
}
  